<!DOCTYPE HTML>
<html>
<head>
    <title>上传图片</title>
    <meta charset="utf-8">
</head>
<body>
<iframe name="uploadForm" id="uploadForm" style="display: none;"></iframe>
<form id="reservationForm" name="formHead" method="post" action="/app/uploadFile" enctype="multipart/form-data" target="uploadfrm">
    姓名： <input type="text" id="username" name="username"/><br/>
    身份证： <input type="idcar" id="idcard" name="idcard"/><br/>
    手机： <input type="idcar" id="mobile" name="mobile"/><br/>
    <div>
        <div>
            <input type="file" name="multipartFile" id="multipartFile" onchange="javascript:setImagePreview();"/>
        </div>
        <div>
            <div id="DivUp" style="display: none">
                <input type="submit" data-inline="true" id="userImg" value="确认上传" data-mini="true"
                       onclick="ajaxFileUpload()"/>
            </div>
        </div>
    </div>
</form>
<div data-role="fieldcontain">
    <div id="localImag">
        <img id="preview" width="-1" height="-1" style="display: none"/>
    </div>
</div>


<script type="text/javascript">
    function setImagePreview() {
        var preview, img_txt, localImag, file_head = document.getElementById("multipartFile"),
            picture = file_head.value;
        if (!picture.match(/.jpg|.gif|.png|.bmp/i)) return alert("您上传的图片格式不正确，请重新选择！"),
            !1;
        if (preview = document.getElementById("preview"), file_head.files && file_head.files[0]) preview.style.display = "block",
            preview.style.width = "63px",
            preview.style.height = "63px",
            preview.src = window.navigator.userAgent.indexOf("Chrome") >= 1 || window.navigator.userAgent.indexOf("Safari") >= 1 ? window.webkitURL.createObjectURL(file_head.files[0]) : window.URL.createObjectURL(file_head.files[0]);
        else {
            file_head.select(),
                file_head.blur(),
                img_txt = document.selection.createRange().text,
                localImag = document.getElementById("localImag"),
                localImag.style.width = "63px",
                localImag.style.height = "63px";
            try {
                localImag.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)",
                    localImag.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = img_txt
            } catch (f) {
                return alert("您上传的图片格式不正确，请重新选择！"),
                    !1
            }
            preview.style.display = "none",
                document.selection.empty()
        }
        return document.getElementById("DivUp").style.display = "block",
            !0
    }

    /* 上传安装包：ajax上传插件使用 */
    function ajaxFileUpload() {
        var jsonuserinfo = $('#reservationForm').serializeArray();
        alert(JSON.stringify(jsonuserinfo));
        document.getElementById('reservationForm').submit();
        // $.ajaxFileUpload
        // (
        //     {
        //         url: '/app/uploadFile', //用于文件上传的服务器端请求地址
        //         data:JSON.stringify(jsonuserinfo),
        //         secureuri: false, //是否需要安全协议，一般设置为false
        //         fileElementId: 'multipartFile', //文件上传域的ID
        //         dataType: 'json', //返回值类型 一般设置为json
        //         type: 'post',
        //
        //         success: function (data, status)  //服务器成功响应处理函数
        //         {
        //             var dataJson = jQuery.parseJSON(data);
        //             if (status == 'success') {
        //                 // 上传成功
        //                 if (dataJson.resultMsg == 1) {
        //                     // 3、基本信息保存
        //                     submitBasicMsg();
        //                 }
        //                 if (dataJson.resultMsg == 0) { // 上传失败
        //                     doFalAlert("上传文件失败，发布失败！请重新上传文件再发布！");
        //                 }
        //             }
        //         },
        //         error: function (data, status, e)//服务器响应失败处理函数
        //         {
        //             // alert(e);
        //             alert("系统异常，上传文件路径异常！");
        //         }
        //
        //     }
        // )
        // return false;
    }
</script>
</body>
<script src="http://apps.bdimg.com/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="/js/ajaxFileUpload.js"></script>
</html>
